# Secrets
*secrets.bash
id_rsa*
*kubeconfig*
*.pem

.config/asciinema
.config/configstore
.config/filezilla
.config/fish/conf.d/*fig*
.config/gh
.config/gtk*
.config/jgit
.config/karabiner
.config/planetscale
.config/temporalio
