# Secrets
*secrets.*
id_rsa*
*kubeconfig*
*.pem

.config/*
!.config/ccstatusline
!.config/powerline

.claude/*
!.claude/hooks
!.claude/skills
.claude/skills/githuman
!.claude/*.md
!.claude/settings.json
