# Secrets
*secrets.*
id_rsa*
*kubeconfig*
*.pem

home/.config/*
!home/.config/ccstatusline
!home/.config/powerline

home/.agent-deck/*
!home/.agent-deck/config.toml
home/.claude/*
!home/.claude/hooks
!home/.claude/skills
home/.claude/skills/githuman
!home/.claude/*.md
!home/.claude/settings.json
